*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
#root{
    height: 100%;
    width: 100%;
}
html{
  background-color:rgb(0, 0, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.note{
  background-color: rgb(59, 58, 58);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
}
.note-create-form{
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem; 
}
.delete{
  margin-right: 1rem;
  /* margin-top: 0.5rem; */
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 2px 1px;
  border-radius: 5px;
  justify-content: flex-start;
}
.update{
  /* margin-left: 1rem;
  margin-top: 0.5rem; */
  background-color: rgb(2, 78, 76);
  color: white;
  font-weight: bold;
  padding: 2px 1px;
  border-radius: 5px;
  justify-content: flex-end;
}
.buttons{
  display: flex;
}